*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.container h1{
margin: 5%;
text-align: center;
font-size: 32pt;
}
section{
    position: relative;
    border: 5px solid #000;
    height: 35vh;
    background-color: rgba(0,0,0,0.3);
    font-weight: 500;
}
.title{
    position: relative;
    float: right;
    clear: both;
    width: 40%;
    height: 20%;
    clear: left;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.title1{
    background-color: #FFB6C1;
}
.title2{
    background-color: #FF0000;
    color: white;
}
.title3{
    background-color: #FFFF00;
}
p{
    float: left;
    text-align: left;
    padding: 4%;
    height: 80%;
    overflow: hidden;
}

@media (min-width:992px){
    section {
        width: 30%;
        margin-left: 2.5%;
        float: left;
    }
}
@media (min-width:768px) and (max-width:991px){
    section{
        float: left;
        margin: 1%;
    }
    #section1{
        width: 48%;
    }
    #section2{
        width: 48%;
    }
    #section3{
        width: 100%;
    }
}
@media (max-width:767px){
    section{
        margin-bottom: 2%;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }
}